<div class="banner">
  <div class="container">
    <h3>Barber shop, <span>Ofretas Especiales</span></h3>
  </div>
</div>
<!-- //banner --> 

<div class="container">
  
</div>
<!-- banner-bottom -->

<!-- //banner-bottom --> 

<!-- //newsletter -->

<!-- cart-js -->
<script src="assets/js/minicart.js"></script>
<script>
      w3ls.render();

      w3ls.cart.on('w3sb_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
          items = this.items();

          for (i = 0, len = items.length; i < len; i++) { 
          }
        }
      });
  </script>  