<div class="awesome-portfolio-area fix">
    <div class="container">
    <!-- section-heading start -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2 class="title text-center"><strong>Nosotros</strong></h2>
          <div class="col-md-6">
            <p>
                Trabajamos lo clásico, no sólo en estilo si no que en la correcta aplicación de las técnicas de corte, asesorando a cada uno de nuestros clientes para lograr un excelente resultado. Trabajamos potenciando a cada cliente según su perfil, siempre en conjunto de todos nuestros conocimientos y los mejores productos internacionales para generar una experiencia única que querrás volver a repetir.
    
                En Mánchester nos hacemos responsables del cuidado integral masculino a través de un servicio de excelencia y arraigado en las antiguas tradiciones, en un ambiente único e inspirado en las clásicas barberías inglesas, con una atención de primer nivel más un amplio catálogo de productos con stock permanente. Experimenta, descubre y vive junto a nosotros el arte de la barbería clásica. ¡Te esperamos!</p> 
          </div>
          <div class="col-md-6">Design</div>
          
        </div>
      </div>
    </div>
    <!-- section-heading end -->      
  </div>
  <!-- awesome-portfolio start -->
  <div class="awesome-portfolio">
    <div class="awesome-portfolio-menu">
      <ul>
        <li class="filter active" data-filter="all">All Items</li>
        <li class="filter" data-filter=".design">Design</li>
        <li class="filter" data-filter=".flat">Flat Design</li>
        <li class="filter" data-filter=".illustration">illustration</li>
        <li class="filter" data-filter=".branding">Branding</li>
      </ul>       
    </div>
    <div class="awesome-portfolio-content" id="MixItUp68DC04">
      <!-- single-awesome-portfolio start -->
      <div class="single-awesome-portfolio mix all flat illustration" style="display: inline-block;">
        <a href="#">
          <div class="awesome-img"><img src="https://via.placeholder.com/400x300/FF0000/000000" alt=""></div>
          <div class="awesome-info">
            <h3>Portfolio Name</h3>
            <p>Design</p>
          </div>
        </a>
      </div>
      <!-- single-awesome-portfolio end -->
      <!-- single-awesome-portfolio start -->
      <div class="single-awesome-portfolio mix all design branding" style="display: inline-block;">
        <a href="#">
          <div class="awesome-img"><img src="https://via.placeholder.com/400x300/1E90FF/000000" alt=""></div>
          <div class="awesome-info">
            <h3>Portfolio Name</h3>
            <p>Design</p>
          </div>
        </a>
      </div>
      <!-- single-awesome-portfolio end -->
      <!-- single-awesome-portfolio start -->
      <div class="single-awesome-portfolio mix all flat illustration" style="display: inline-block;">
        <a href="#">
          <div class="awesome-img"><img src="https://via.placeholder.com/400x300/" alt=""></div>
          <div class="awesome-info">
            <h3>Portfolio Name</h3>
            <p>Design</p>
          </div>
        </a>
      </div>
      <!-- single-awesome-portfolio end -->
      <!-- single-awesome-portfolio start -->
      <div class="single-awesome-portfolio mix all design branding" style="display: inline-block;">
        <a href="#">
          <div class="awesome-img"><img src="https://via.placeholder.com/400x300/FF8C00/000000" alt=""></div>
          <div class="awesome-info">
            <h3>Portfolio Name</h3>
            <p>Design</p>
          </div>
        </a>
      </div>
      <!-- single-awesome-portfolio end -->
      <!-- single-awesome-portfolio start -->
      <div class="single-awesome-portfolio mix all flat design illustration" style="display: inline-block;">
        <a href="#">
          <div class="awesome-img"><img src="https://via.placeholder.com/400x300/9932CC/000000" alt=""></div>
          <div class="awesome-info">
            <h3>Portfolio Name</h3>
            <p>Design</p>
          </div>
        </a>
      </div>
      <!-- single-awesome-portfolio end -->
      <!-- single-awesome-portfolio start -->
      <div class="single-awesome-portfolio mix all design branding " style="display: inline-block;">
        <a href="#">
          <div class="awesome-img"><img src="https://via.placeholder.com/400x300/008B8B/000000" alt=""></div>
          <div class="awesome-info">
            <h3>Portfolio Name</h3>
            <p>Design</p>
          </div>
        </a>
      </div>
      <!-- single-awesome-portfolio end -->
      <!-- single-awesome-portfolio start -->
      <div class="single-awesome-portfolio mix all design illustration" style="display: inline-block;">
        <a href="#">
          <div class="awesome-img"><img src="https://via.placeholder.com/400x300/" alt=""></div>
          <div class="awesome-info">
            <h3>Portfolio Name</h3>
            <p>Design</p>
          </div>
        </a>
      </div>
      <!-- single-awesome-portfolio end -->
      <!-- single-awesome-portfolio start -->
      <div class="single-awesome-portfolio mix all flat illustration branding" style="display: inline-block;">
        <a href="#">
          <div class="awesome-img"><img src="https://via.placeholder.com/400x300/6495ED/000000" alt=""></div>
          <div class="awesome-info">
            <h3>Portfolio Name</h3>
            <p>Design</p>
          </div>
        </a>
      </div>
      <!-- single-awesome-portfolio end -->
      <!-- single-awesome-portfolio start -->
      <div class="single-awesome-portfolio mix all design branding" style="display: inline-block;">
        <a href="#">
          <div class="awesome-img"><img src="https://via.placeholder.com/400x300/FF69B4/000000" alt=""></div>
          <div class="awesome-info">
            <h3>Portfolio Name</h3>
            <p>Design</p>
          </div>
        </a>
      </div>
      <!-- single-awesome-portfolio end -->
      <!-- single-awesome-portfolio start -->
      <div class="single-awesome-portfolio mix all flat illustration" style="display: inline-block;">
        <a href="#">
          <div class="awesome-img"><img src="https://via.placeholder.com/400x300/7B68EE/000000" alt=""></div>
          <div class="awesome-info">
            <h3>Portfolio Name</h3>
            <p>Design</p>
          </div>
        </a>
      </div>
      <!-- single-awesome-portfolio end -->
    </div>  
  </div>
  <!-- awesome-portfolio end -->
</div>
<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>